<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'User:login' %}" method="POST">
{% csrf_token %}
    {% if error %}
        {% for key,error in error.items %}
            {{ error }} <br>
        {% endfor %}
    {% endif %}
    用户名:<input type="text" name="name" autocomplete="off" value="{{ name }}"> <br>
    密码:<input type="password" name="password" autocomplete="off"> <br>
    <input type="submit" value="登录">
</form>
</body>
</html>